/* CSS crunched with Crunch - http://crunchapp.net/ */
header #accessibility{line-height:12px;height:12px;}header #accessibility li{line-height:12px;display:inline;}
header #accessibility a:hover{background:none;}
header #portal-searchbox .searchButton{margin-top:1px;padding-bottom:7px;}
